@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.btn1 {
  border: none;
  border-radius: 20px;
  display: block;
  background-color: #F3F2F8;
  padding: 8px 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.question {
  text-align: center;
  margin-top: 15vw;
  margin-bottom: 3vw;
}
